################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
/.vs
.vs/

# Scripts
/scripts

# Build outputs - use wildcards to cover all .NET versions
**/bin/
**/obj/

# Logs
**/logs/

# User-specific files
*.user
*.suo
*.userosscache
/src/SchedulerPlatform.IdentityServer/appsettings.json
*.pubxml
/src/SchedulerPlatform.API/appsettings.AzureDev.json
/src/SchedulerPlatform.UI/appsettings.AzureDev.json
/SchedulerPlatform.DB
