################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scripts
/src/.vs/SchedulerPlatform.UI
/src/SchedulerPlatform.API/bin/Debug/net9.0
/src/SchedulerPlatform.API/logs
/src/SchedulerPlatform.API/obj
/src/SchedulerPlatform.Core/bin/Debug
/src/SchedulerPlatform.Core/obj
/src/SchedulerPlatform.IdentityServer/bin/Debug
/src/SchedulerPlatform.IdentityServer/logs
/src/SchedulerPlatform.IdentityServer/obj
/src/SchedulerPlatform.Infrastructure/bin/Debug
/src/SchedulerPlatform.Infrastructure/obj
/src/SchedulerPlatform.Jobs/bin/Debug
/src/SchedulerPlatform.Jobs/obj
/src/SchedulerPlatform.LogCleanup/bin/Debug
/src/SchedulerPlatform.LogCleanup/obj
/src/SchedulerPlatform.ScheduleSync/bin/Debug
/src/SchedulerPlatform.ScheduleSync/obj
/src/SchedulerPlatform.UI/bin/Debug/net9.0
/src/SchedulerPlatform.UI/obj
